body {
    padding-bottom: 50px;
    padding-top: 175px;
    color:#000000;
    background: #DBE5F5;
    background: linear-gradient(to right,#F2F6FD,#8DABD9) ;
    /*background-image: url("../images/bg1.jpg"), url("../images/bg2.jpg");*/
    /*background-repeat: no-repeat, no-repeat;*/
    /*background-position: left center, right center;*/
    /*background-attachment: fixed;*/
    /*background-blend-mode: normal;*/
}

a {

    text-decoration:none;
}

#menu {
    font-size: 18px;
}

.menu {
    border: 1px solid transparent;
}

.horizontalLine {
    border: 1px solid transparent;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.imagesInfo {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 6px;
    background: rgba(255,255,255,0.5);
    filter: alpha(opacity=90);
    color: #1B3B6F;
    top: 60%;
    left: 12%;
    right: 10%;
    max-width: 76%;
}




@media (max-width: 1200px) {
    body {
        padding-top: 225px;
    }
}

@media (max-width: 992px) {
    body {
        padding-top: 110px;
    }

    iframe {
        padding-bottom: 10px;
    }

    .bottom-align-text {
        position: absolute;
        bottom: 0;
        right: 0;
    }


}

@media (max-width: 768px) {
    .imagesInfo, .imagesInfo4 {
        top: 65%;
        left: 30%;
        max-width: 40%;
    }
}

@media (max-width: 500px) {
    .imagesInfo, .imagesInfo4 {
        top: 55%;
        left: 15%;
        max-width: 70%;
    }
}


.circleImage {
    width: 152px;
    height: 148px;
    display: block;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    border:5px solid #8CABD9;
    display: block;

}

.roundedImage {
    width: 50%;
    height: 120px;
    display: block;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    border:2px solid #8CABD9;
    display: block;

}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}


.imagesMain {
    margin-bottom: 15px;
}

.imagesOrto {
    margin-bottom: 15px;
    max-height: 200px;
}

.socialmediaicons {
    margin-top: 10px;
    display: inline;
    /*color:#8DABD9 !important;*/
}

.socialmediatext {
    margin: 0;
}

.greypart {
    background-color: #E2E4E7;
    padding: 20px 50px 20px 50px;
}

.lightgreenpart {
    background-color: #CFFEFD;
    padding: 20px 50px 20px 50px;
}




